<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">My Youtube</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/navbar :: homenav">
</div>
<br>
<br>
<br>
<br>
<div class="container">

    <div>
        <a th:href="@{/video/video-upload-form}">
            <button class="btn btn-primary"> ADD video</button>
        </a>
    </div>

    <table class="table table-bordered table-stripped">

        <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Views</th>
            <th>Like</th>
            <th>Dislike</th>
            <th>Upload Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page : ${videoList}">
            <!--<td th:text="${employee.id}"></td>-->
            <td th:text="${videoList.title}"></td>
            <td th:text="${videoList.videoId}"></td>
            <td th:text="${videoList.totalViews}"></td>
            <td th:text="${videoList.likeBy}"></td>
            <td th:text="${videoList.likeBydislikeBy}"></td>
            <td th:text="${videoList.uploadedDate}"></td>
            <!--            <td>-->
            <!--                <a th:href="@{/employee/edit/{id}(id=${employee.id})}">-->
            <!--                    <button class="btn btn-info">Edit</button>-->
            <!--                </a>-->
            <!--                <a th:href="@{/employee/delete/{id}(id=${employee.id})}">-->
            <!--                    <button class="btn btn-danger">Delete</button>-->
            <!--                </a>-->
            <!--            </td>-->
        </tr>

        </tbody>

    </table>

    <!--    <div layout:fragment="content">-->
    <!--    </div>-->
    <!--    <div th:replace="fragments/footer :: footer"></div>-->
</div>
</body>
</html>