<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">My Youtube</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/navbar :: homenav">
</div>
<div class="container">
    <div layout:fragment="content">
    </div>
<!--    <div th:replace="fragments/footer :: footer"></div>-->
</div>
</body>
</html>