<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Video Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
<th:block layout:fragment="navbar">
    <div th:replace="fragments/dashboard_nav :: navbar"></div>
</th:block>

<div layout:fragment="content">
    <div class="row" style="margin-top:60px">
        <div class="col-md-8 offset-md-2">
            <div class="video-post-wrapper">
                <div class="video-posts-video">

                    <div class="embed-responsive embed-responsive-16by9 ratio ratio-16x9">
                        <iframe th:src="'https://www.youtube.com/embed/' +${video.videoId}"
                                class="embed-responsive-item"></iframe>
                    </div>
                </div>
                <div class="video-posts-data">
                    <div class="video-post-title">

                        <span class="video-icons"><i class="fa fa-info-circle"></i></span>
                        <div class="video-post-info">
                            <h4 th:text="${video.title}"><a href="#">Themeix Media</a></h4>

                            <div class="video-post-date">
                                <span><i class="fa fa-calendar"></i></span>
                                <p th:text="${video.date}"></p>
                                <span class="video-posts-author">
                                        <i class="fa-solid fa-user"></i>
                                        <a href="javascript:void(0)">Uploaded by </a><span
                                        th:text="${video.uploadedBy.name}"></span>
                                    </span>
                            </div>
                            <a href="#details" class="details details-btn" data-toggle="collapse">Show Details</a>
                        </div>

                    </div>
                    <div id="videoStat" class="video-post-counter">
                        <div class="video-post-viewers">
                            <h3 th:text="${video.totalViews} +' '+'Views'"> Views</h3>
                        </div>
                        <div class="video-like">
                                <span style="cursor: pointer;" @click="like">
                                    <span><i class="far fa-thumbs-up"></i></span>
                                </span>
                            <p>{{likeCount}}</p>
                        </div>
                        <div class="video-dislike">
                            <span style="cursor: pointer;" @click="dislike"></span>
                                    <span><i class="far fa-thumbs-down"></i></span>
                                    </a>
                                    <p>{{dislikeCount}}</p>
                        </div>
                    </div>
                </div>


                <div class="video-post-details mt-3 collapse" id="details">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#like">Like List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#dislike">Dislike List</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="like" class="container tab-pane active"><br>
                            <h3>User List of Like</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user, itr: ${video.likeBy}">
                                    <th scope="row" th:text="${itr.index+1}">1</th>
                                    <td th:text="${user.name}">Mark</td>
                                    <td th:text="${user.username}">@mdo</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div id="dislike" class="container tab-pane fade"><br>
                            <h3>User List of Dislike</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user, itr: ${video.dislikeBy}">
                                    <th scope="row" th:text="${itr.index+1}">1</th>
                                    <td th:text="${user.name}">Mark</td>
                                    <td th:text="${user.username}">@mdo</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="menu2" class="container tab-pane fade"><br>
                            <h3>Menu 2</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium,
                                totam rem aperiam.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".details-btn").click(function () {
                var text = $(this).text()

                if (text == "Show Details") {
                    $(this).text("Hide Details")
                } else {
                    $(this).text("Show Details")
                }

            });

        });

    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var userData = /*[[${session.user}]]*/ {};
        var videoData = /*[[${video}]]*/ {};

        /*]]>*/
    </script>
    <script th:inline="javascript">
        var app = new Vue({
            el: '#videoStat',
            data: {
                user: userData,
                video: videoData,
                likeCount: 0,
                dislikeCount: 0
            },
            created: function () {
                this.likeCount = this.video.likeBy.length;
                this.dislikeCount = this.video.dislikeBy.length;
            },
            methods: {
                like: function () {
                    let _this = this;

                    if (_this.user && _this.user.id) {
                        let vdoIdx = _this.video.likeBy.findIndex(item => item.id == _this.user.id);

                        if (vdoIdx != -1) return;

                        let _url = '/video/videolike/' + _this.video.id;
                        fetch(`${_url}`)
                            .then(response => response.text())
                            .then(message => {
                                if (message == "Success") {
                                    _this.likeCount++;

                                    if (Array.isArray(_this.video.likeBy)) {
                                        vdoIdx = _this.video.likeBy.findIndex(item => item.id == _this.user.id);
                                        if (vdoIdx == -1) {
                                            _this.video.likeBy.push(_this.user);
                                        }
                                    }

                                    if (Array.isArray(_this.video.dislikeBy)) {
                                        vdoIdx = _this.video.dislikeBy.findIndex(item => item.id == _this.user.id);
                                        if (vdoIdx != -1) {
                                            _this.dislikeCount--;
                                            _this.video.dislikeBy.splice(vdoIdx, 1);
                                        }
                                    }
                                }
                            });
                    } else {
                        let _loc = window.location;
                        _loc.href = _loc.protocol + _loc.host + "/auth/login";
                    }
                },
                dislike: function () {
                    let _this = this;

                    if (_this.user && _this.user.id) {
                        let vdoIdx = _this.video.dislikeBy.findIndex(item => item.id == _this.user.id);

                        if (vdoIdx != -1) return;

                        let _url = '/video/videodislike/' + _this.video.id;
                        fetch(`${_url}`)
                            .then(response => response.text())
                            .then(message => {
                                if (message == "Success") {
                                    _this.dislikeCount++;

                                    if (Array.isArray(_this.video.dislikeBy)) {
                                        vdoIdx = _this.video.dislikeBy.findIndex(item => item.id == _this.user.id);
                                        if (vdoIdx == -1) {
                                            _this.video.dislikeBy.push(_this.user);
                                        }
                                    }

                                    if (Array.isArray(_this.video.likeBy)) {
                                        vdoIdx = _this.video.likeBy.findIndex(item => item.id == _this.user.id);
                                        if (vdoIdx != -1) {
                                            _this.likeCount--;
                                            _this.video.likeBy.splice(vdoIdx, 1);
                                        }
                                    }
                                }
                            });
                    } else {
                        let _loc = window.location;
                        _loc.href = _loc.protocol + _loc.host + "/auth/login";
                    }
                },
            }
        });

    </script>



    </script>
</div>

</body>

</html>